

html
{
     scroll-behavior: smooth;
}
body
{
    font-family: 'Roboto Mono' !important;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
      scroll-behavior: smooth;
    color: #fff !important;
    background: #fff !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.whitespace
{
    width: 100%;
    height: 100px;
}
.btn
{
    justify-content: center;
}
@media(max-width: 768px)
{
    .whitespace
    {
        display: none;
    }
}

.line
{
    top: 50%;

    overflow: hidden;

    width: 24em;
    margin: auto;

    /*transform: translateY(-10%);*/
    text-align: center;
    white-space: nowrap;

    border-right: 4px solid rgba(255, 255, 255, .75);
}

.anim-typewriter
{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 400ms steps(40) infinite normal;
}

@keyframes typewriter
{
    from
    {
        width: 0;
    }
    to
    {
        width: 18em;
    }
}

@media(max-width: 768px)
{
    @keyframes typewriter
    {
        from
        {
            width: 0;
        }
        to
        {
            width: 25em;
        }
    }
}

@keyframes blinkTextCussor
{
    from
    {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to
    {
        border-right-color: transparent;
    }
}

body .navbar 
{
    background-color: #1A2238;
    padding: 10px 0px 10px 40px;
}

body .navbar .navbar-brand 
{
    color: #fff;
    font-size: 30px;
}
.navbar .navbar-brand .s
{
	color: #FF6A3D;
}
.navbar .container-fluid .nav li a
{
    line-height: 1.2em;
    color: #d4bab2;
    text-shadow: 
      0 0 #fff, 
      0 1.2em #1A2238;
    overflow: hidden;
    transition: .3s;
}
.navbar .container-fluid .nav li a:hover
{
    text-shadow: 
    0 -1.2em #1A2238, 
    0 0 #FF6A3D;
}
.navbar .last{
    padding: 0px 40px 0px 0px;
}


#toggle
{
    font-weight: 300;

    position: absolute;
    z-index: 2;
    top: 20px;
    right: 30px;

    visibility: hidden;
    float: right;

    width: 30px;
    height: 30px;

    cursor: pointer;
    transition: all .3s ease-out;

    opacity: 0;
}

.close-btn
{
    font-weight: 300;
    line-height: 80px;

    position: absolute;
    z-index: 2;
    top: -2px;
    right: 16px;

    cursor: pointer;
}

#resize
{
    position: fixed;
    z-index: 1;
    top: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    transition: all 1s ease-out;

    opacity: 0;
    background: #0f0f0f;
}

#resize #menu
{
    position: absolute;
    left: 45%;

    display: table-cell;

    height: 90px;

    transform: translateX(-40%);
    text-align: center;
    vertical-align: center;
}

#resize #menu li
{
    font-size: 50px;
    font-weight: bold;

    display: block;

    min-height: 50px;
    padding: 10px 0;

    cursor: pointer;
    transition: all .3s ease-out;
    text-align: center;
}

#resize li:nth-child(1)
{
    margin-top: 140px;
}

#resize #menu li a
{
    color: #fff;
}

#resize #menu li a:hover
{
    text-decoration: none;
}

#resize.active
{
    visibility: visible;

    opacity: 1;
}

@media(max-width: 768px)
{
    #toggle
    {
        visibility: visible;

        margin-top: 6px;
        margin-right: 4px;

        opacity: 1;
    }

    nav #brand
    {
        margin-left: 24px;
    }

    #menu a
    {
        font-size: 20px;
        font-weight: 300;
    }

    #resize li span
    {
        font-weight: bolder;
    }

    nav #menu
    {
        display: none;
    }
}

@media(min-width: 768px)
{
    #resize
    {
        visibility: hidden !important;
    }
}

/* TypeWriter Effect start */



.home-content .text-3 .change
{
    font-weight: lighter;
    line-height: 58px;

    text-align: center;
    letter-spacing: -2px;
}

@media(max-width: 768px)
{
    .home-content .text-3 .change
    {
        font-size: 26px;
    }
}
.home
{
background-color: #1A2238;
display: flex;
background-image:url("C:/Users/kanan/Desktop/portfolio/image/keyboard1.JPG");
background-repeat: no-repeat;
 background-size: cover;
height: 80vh;
min-height: 400px;


}

.home .max-width
{
	margin :auto 0 auto 100px;
}
.home .home-content .text-1
{
	font-size: 27px;
}

.home .home-content .text-2
{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3;
}
.home .home-content .text-3
{
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 .change
{
	color: #FF6A3D;
}


.scroll-down
{
    font-size: 20px;

    position: absolute;
    z-index: 0;
    bottom: 100px;
    left: 50%;

    display: block;

    width: 13px;
    height: 13px;

    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(.19, 1, .22, 1) infinite;
    text-align: center;
    text-decoration: none;

    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-shadow: 0;
}

@keyframes fade_move_down
{
    0%
    {
        transform: translate(0, -20px) rotate(45deg);

        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: translate(0, 20px) rotate(45deg);

        opacity: 0;
    }
}

h3

{
    text-align: center;
}

.vertical
{
    position: absolute;
    left: 50%;

    height: 80px;
    margin-top: 40px;

    border-left: 1px solid #fff;
}

.project
{
    height: 500px;
}

.project1
{
    background: url(italian.jpg) no-repeat 50% 50%;
    background-size: cover;
      
}

.project1::after
{
    font-family: 'Roboto Mono';
    font-size: 36px;

    position: relative;
    top: 8%;
    right: 0;
    bottom: 0;
    left: -30%;

    display: block;

    content: 'Italian.';

    color: #fff;
}

.project2
{
    background: url(chinese.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-left:70px;
}

.project2::after
{
    font-family: 'Roboto Mono';
    font-size: 36px;

    position: relative;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 90%;

    display: block;

    content: 'Chinese.';

    color: #fff;
}

.project3
{
    background: url(Gujarati.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project3::after
{
    font-family: 'Roboto Mono';
    font-size: 36px;

    position: relative;
    top: 80%;
    right: 0;
    bottom: 0;
    left: -30%;

    display: block;

    content: 'Gujarati.';

    color: #fff;
}

.project4
{
    background: url(DHOSA.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project4::after
{
    font-family: 'Roboto Mono';
    font-size: 36px;

    position: relative;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 90%;

    display: block;

    content: 'South Indian.';

    color: #fff;
}

@media(max-width: 768px)
{
    .project
    {
        width: 90% !important;
        margin: 14px auto;
    }

    .vertical
    {
        display: none;
    }

    .project1::after,
    .project2::after,
    .project3::after,
    .project4::after
    {
        display: none;
    }
}

.collab
{
    text-align: right;
}

.collab p
{
    font-weight: lighter !important;

    margin-bottom: 20px;
}

.hr
{
    height: 3px;

    background: #0f0f0f;
}

.btns button, button::after {
    width: 180px;
    height: 66px;
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #1A2238 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #FF6A3D;
    outline: transparent;
    position: relative;
    margin-right: 20px;

  }
  
  .btns button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #FF6A3D 3%, #FF6A3D 5%, #1A2238 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #FF6A3D;
    clip-path: var(--slice-0);
  }
  
  .btns button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }


  

  .container .row h3
  {
    justify-content: left;
  }



  @keyframes wave {
    0% {
      transform: translate(-50%,-75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%,-75%) rotate(360deg);
    }
  }


.info h4
{
    font-size: 18px;
    font-weight: lighter;
}

.info p
{
    font-weight: lighter;

    color: rgb(0, 0, 0);
}

.info li
{
    font-size: 18px;
    font-weight: lighter;

    padding-left: 20px;

    color: #000000;
}

#fb::before
{
    display: inline-block;

    width: 4px;
    height: 4px;
    margin-right: 6px;

    content: '';

    border-radius: 100%;
    background: #3b5998;
}


#ig::before
{
    display: inline-block;

    width: 4px;
    height: 4px;
    margin-right: 6px;

    content: '';

    border-radius: 100%;
    background: #fcaf45;
}


#tw::before
{
    display: inline-block;

    width: 4px;
    height: 4px;
    margin-right: 6px;

    content: '';

    border-radius: 100%;
    background: #55acee;
}


#yt::before
{
    display: inline-block;

    width: 4px;
    height: 4px;
    margin-right: 6px;

    content: '';

    border-radius: 100%;
    background: #c4302b;
}

#media,
#address
{
    text-align: right;
}

#media ul
{
    list-style: none;
}

#media ul li
{
    display: inline-block;
}

@media(max-width: 768px)
{
    .collab,
    #personal,
    #media,
    #address
    {
        text-align: center;
    }

    .info ul
    {
        margin: 0 0 0 -22px;
        padding: 0;
    }
}

.hero-content
{
    margin-left: 0;
}

.hero-content p
{
    font-weight: 300;
    line-height: 36px;

    color: grey;
}

.hero-content h6
{
    text-align: left;
}

@media(max-width: 768px)
{
    .hero-content
    {
        width: 96%;
        margin: 0 auto;
        padding-top: 50px;
    }
}

.about
{
    height: 500px;
    margin-top: 120px;
}

.i-image1
{
    background: url(ITALIAN/AgnolottiPasta.jpeg) no-repeat 50% 70%;
}
.i-image2
{
    background: url(ITALIAN/Risotonnato.jpeg) no-repeat 50% 70%;
}
.i-image3
{
    background: url(ITALIAN/FOCCASIA.jpeg) no-repeat 50% 70%;
}

.c-image1
{
    background: url(CHINESEFOOD/ChowMein.jpg) no-repeat 50% 70%;
}
.c-image2
{
    background: url(CHINESEFOOD/Dumplings.jpg) no-repeat 50% 70%;
}
.c-image3
{
    background: url(CHINESEFOOD/SpicyTofu.jpg) no-repeat 50% 70%;
}
.g-image1
{
    background: url(GUJARATI/UNDHIYU.jpg) no-repeat 50% 70%;
}
.g-image2
{
    background: url(GUJARATI/KHAMAN.jpg) no-repeat 50% 70%;
}
.g-image3
{
    background: url(GUJARATI/FAFDA.jpg) no-repeat 50% 70%;
}
.s-image1
{
    background: url(SOUTHINDIAN/DHOSA.jpg) no-repeat 50% 70%;
}
.s-image2
{
    background: url(SOUTHINDIAN/PESARATTU.jpg) no-repeat 50% 70%;
}
.s-image3
{
    background: url(SOUTHINDIAN/PUTTU.jpg) no-repeat 50% 70%;
}


h2 
{
   text-align: center;
}

#contact-form
{
    margin: 5% 1.4%;
}

#contact-form ul
{
    margin-bottom: 40px;

    list-style: none;

    border-radius: 5px;
}

#contact-form li
{
    padding: 10px;
}

#contact-form li:last-of-type
{
    border-bottom: none;
}

#contact-form label
{
    font-size: .8em;

    display: block;

    padding-left: 5px;

    color: #999;
}

#contact-form input,
#contact-form textarea
{
    font-weight: bolder;

    width: 100%;
    padding: 5px;

    resize: vertical;

    color: #fff;
    border: none;
    background: transparent;
}

input:focus
{
    border: none;
    outline: none;
}

textarea:focus
{
    border: none;
    outline: none;
}

.textarea
{
    border-bottom: 1px solid #dfdfdf;
}

.send
{
    font-size: 14px;

    margin-left: 50px;
    padding: 20px 30px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #dfdfdf;
    background: transparent;
}

.send:hover
{
    color: #101010;
    background: #dfdfdf;
}

@media(max-width: 768px)
{
    #contact-form
    {
        width: 98%;
        margin: 5% -8%;
    }
}

.prev,
.next p
{
    color: grey;
}

.prev p
{
    text-align: left;
}

.next p
{
    text-align: right;
}


/* for experiance section */

.ag-timeline-block {
 
}

@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
  font-style: normal;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.ag-format-container {
  width: 1160px;
  margin: 0 auto;

  position: relative;
}

.ag-timeline-block {
  padding: 50px 0;
  background-color: #000;
  overflow-x: hidden;
}
.ag-timeline_title-box {
  padding: 0 0 30px;

  text-align: center;
}
.ag-timeline_tagline {
  font-size: 40px;
  color: rgb(84, 89, 95);
}
.ag-timeline_title {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;

  font-size: 80px;
}

.ag-timeline_item {
  margin: 0 0 50px;

  position: relative;
}
.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  position: relative;
}
.ag-timeline_line {
  width: 2px;
  background-color: #393935;

  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;

  overflow: hidden;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #FF0;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 3px solid #FF0;
  background-color: #1d1d1b;

  text-align: center;
  font-family: 'ESL Legend', sans-serif;
  font-size: 20px;
  color: #FFF;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #FF0;
}
.ag-timeline-card_meta-box {
  display: inline-block;
}
.ag-timeline-card_meta  {
  margin: 10px 0 0;

  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #FF0;
}
.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #282828;

  opacity: 0;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);

  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;

  position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #282828;

  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;

  right: auto;
  left: 0;
}
.ag-timeline-card_img {
  width: 100%;
}
.ag-timeline-card_info {
  padding: 20px 30px;
}
.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;

  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #FF0;
}
.ag-timeline-card_desc {
  line-height: 1.45;
  font-size: 16px;
  color: #FFF;
}
.ag-timeline-card_desc p{
  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FF0;
}

@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }

  .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .ag-timeline-card_desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}

/* Project Section */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.row1-container,.row2-container {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.row1-container .box button,.row2-container .box button

{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .row1-container .box .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid var(--cyan);
  }
  
  .row1-container .box .button1:hover {
    background-color: var(--cyan);
    color: white;
  }

  .row1-container .box .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid var(--red);
  }
  
  .row1-container .box .button2:hover {
    background-color: var(--red);
    color: white;
  }

  .row1-container .box .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid var(--blue);
  }
  
  .row1-container .box .button3:hover {
    background-color: var(--blue);
    color: white;
  }

  .row2-container .box .button4 {
    background-color: white; 
    color: black; 
    border: 2px solid var(--orange) ;
  }
  
  .row2-container .box .button4:hover {
    background-color: var(--orange);
    color: white;
  }

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

.row1-container h2,.row2-container h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}
